@model WebbApp_Alpha.ViewModels.Projects.ProjectsViewModel

<partial name="Partials/Sections/_addProjectForm" />


<div class="project-list">
    <div class="project-card">
        <div class="card-header">
            <div class="project-image">

            </div>
            <span class="project-name"></span>
            <span class="client-name"></span>
            <div id="project-actions-container">
                <button type="button" data-type="dropdown" data-target="#projectdropdown" class="btn-action">
                    <i class="fa-duotone fa-solid fa-ellipsis"></i>
                </button>
                <div id="projectdropdown" class="dropdown">
                    <div class="dropdown-body">
                        <nav class="dropdown-actions">
                            <a class="dropdown-action" href="#">

                            </a>
                        </nav>

                    </div>

                </div>
            </div>
        </div>

    </div>

</div>


