<div class="notification-dropdown-container">
	<button id="notification-dropdown-button" data-type="dropdown" data-target="#notification-dropdown" class="btn-notification fa-duotone fa-solid fa-bell" style="--fa-primary-opacity: 0.4; --fa-secondary-opacity: 1;">
		<div class="dot dot-red"></div>
	</button>

	<div id="notification-dropdown" class="notification-dropdown">
		<div class="notification-header">
			<h4>Notifications</h4>
			<span class="notification-number">0</span>
		</div>
		<div class="notifications">

			<div class="notification-item" data-id="">
				<img src="/images/Avatars/5.svg" />
				<div class="message">Login client</div>
				<div class="time">1 day ago</div>
				<button class="btn-close" onclick="dissmissNotification()"></button>
			</div>

		</div>
	</div>
</div>