@model WebbApp_Alpha.ViewModels.Projects.ProjectsViewModel

@{
    ViewData["Title"] = "Projects";
   
}




<div class="main-headline">
    <h2>Projects</h2>
    <button class="btn btn-add">
        Add Project
    </button>

</div>

<div class="main-start">
    <div class="nav-status">
        <a class="status-btn @(Context.Request.Path == "/AllProjects" ? "active": "")" asp-action="AllProjects" asp-controller="Projects">ALL [0]</a>
        <a class="status-btn @(Context.Request.Path == "/StartedProjects" ? "active": "")" asp-action="StartedProjects" asp-controller="Projects">STARTED [0]</a>
        <a class="status-btn @(Context.Request.Path == "/CompletedProjects" ? "active": "")" asp-action="CompletedProjects" asp-controller="Projects">COMPLETE [0]</a>
    </div>
</div>

<section class="project-list">
    @if(Model?.Project != null && Model.Projects.Any()){
        @foreach (var project in Model.Projects)
        {
            @await Html.PartialAsync("Partials/Projects/_ProjectListItemPartial", project)
        }
    }
    
    
</section>

@await Html.PartialAsync("Partials/Sections/_addProjectForm", Model.AddForm)
@await Html.PartialAsync("Partials/Projects/_editProjectForm", Model.EditForm)
