<form asp-controller="Auth" asp-action="Signout" method="post" style="display:none;" id="logoutForm">
    @Html.AntiForgeryToken()
</form>
<div id="dropdownMenu">
    <a href="#">
        <img src="/images/Avatars/2.svg" alt="Profile" class="picture">
        <span class="profile-name">@User.Identity.Name</span>
    </a>
    <a class="dark-mode-toggle">
        <img src="/images/Setting.svg" alt="Dark Mode">
        <span>Dark Mode</span>
        <label class="switch">
            <input type="checkbox" id="darkModeSwitch">
            <span class="slider round"></span>
        </label>
    </a>
    <div class="dropdown-divider"></div>
    <a href="#" onclick="event.preventDefault(); document.getElementById('logoutForm').submit();">
        <img src="/images/Logout.svg" alt="">
        <span>Logout</span>
    </a>
</div>