<div id="dropdownMenu">
    <a href="#">
        <img src="/images/Avatars/2.svg" alt="Profile" class="picture">
        <span class="profile-name">Dennis Hed Rudin</span>
    </a>
    <a class="dark-mode-toggle">
        <img src="/images/Setting.svg" alt="Dark Mode">
        <span>Dark Mode</span>
        <label class="switch">
            <input type="checkbox" id="darkModeSwitch">
            <span class="slider round"></span>
        </label>
    </a>
    <div class="dropdown-divider"></div>
    <a asp-action="Signout" asp-controller="Auth">
        <img src="/images/Logout.svg" alt="">
        <span>Logout</span>
    </a>
</div>