<nav class="nav-links">    

    <a class="nav-link @(Context.Request.Path == "/projects" ? "active": "active")" asp-action="Index" asp-controller="Projects">
        <i class="fa-duotone fa-solid fa-briefcase"></i>
        <span>Projects</span>
    </a>
  
    
</nav>   