<div class="top-header">
     

    <div class="header-icons">

        <partial name="Partials/Notification/_NotificationDropdownPartial" />

        <a href="#" class="profile-pic" id="profileMenu" data-type="dropdown" data-target="#dropdownMenu">
            <img src="/images/Avatars/10.svg" alt="Avatar">
        </a>
    </div>

</div>      


<partial name="Partials/Components/_DropdownMenu" />