<div class="top-header">
    <i class="bi bi-search"></i>

    <form class="d-flex ms-auto search-bar" asp-action="Search" asp-controller="Projects" method="get">
        <input type="search" name="query" placeholder="Search anything..." aria-label="Search">
    </form>

    <div class="header-icons">

        <partial name="Partials/Notification/_NotificationDropdownPartial" />

        <a href="#" class="profile-pic" id="profileMenu" data-type="dropdown" data-target="#dropdownMenu">
            <img src="/images/Avatars/10.svg" alt="Avatar">
        </a>
    </div>

</div>      


<partial name="Partials/Components/_DropdownMenu" />