<div class="top-header">
    <i class="bi bi-search"></i>

    <form class="d-flex ms-auto search-bar" asp-action="Search" asp-controller="Projects" method="get">
        <input type="search" name="query" placeholder="Search anything..." aria-label="Search">
    </form>

    <div class="header-icons">
        <a href="#">
            <img src="/images/Notification.svg" alt="Notification">
        </a>
        <a href="#">
            <img src="/images/Setting.svg" alt="Setting">
        </a>
        <a href="#" class="profile-pic">
            <img src="/images/Avatars/10.svg" alt="Avatar">
        </a>
    </div>

</div>        