
@model SignUpFormModel


<div class="center-screen">
    <div class="form-container">

        <form asp-controller="auth" asp-action="ExternalSignIn" method="post" class="external-account" novalidate>
            <div class="form-head">
                <h1>@ViewData["Title"]</h1>
                <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
                <button type="submit" name="provider" value="Google" class="btn btn-gray">Sign in with Google</button>
                <p>OR</p>
            <div />
        </form>

        <form asp-action="Register" method="post" enctype="multipart/form-data" novalidate>          
                
             


            <div class="mb-3 form-group">
                <label asp-for="FirstName" class="form-label">Full Name</label>
                <div class="field-group">
                    <input asp-for="FirstName" class="form-control">
                    <span asp-validation-for="FirstName"></span>
                </div>
            </div>

            <div class="mb-3 form-group">
                <label asp-for="LastName" class="form-label">Full Name</label>
                <div class="field-group">
                    <input asp-for="LastName" class="form-control">
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>


            <div class="mb-3 form-group">
                <label asp-for="Email" class="form-label">Email</label>
                <div class="field-group">
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email"></span>
                </div>
            </div>



            <div class="mb-3 form-group">
                <label asp-for="Password" class="form-label">Password</label>
                <div class="field-group">
                    <input type="password" asp-for="Password" class="form-control" value="@Model?.Password">
                    <span asp-validation-for="Password"></span>
                </div>
            </div>



            <div class="mb-3 form-group">
                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                <div class="field-group">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" value="@Model?.ConfirmPassword">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>

            @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
            {
                <div class="alert-notification error">
                    @ViewBag?.ErrorMessage
                </div>
            }

            <div class="mb-3 form-check">
                <input type="checkbox" asp-for="TermsAndConditions" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I accept <a href="" class="terms-link">Terms and Conditions</a></label>
                <span asp-validation-for="TermsAndConditions" class="error"></span>
            </div>

            <div class="btn-box">
                <button type="submit" class="btn btn-blue">Create Account</button>
            </div>
        </form>



        <div class="reg-footer">
            <p>I already hade an Account? <a asp-controller="auth" asp-action="login" class="terms-link">Login</a></p>

        </div>

    </div>
</div>

