<div class="form-container">
    <div class="form-head">
        <h1>Create Account</h1>
        <button class="btn btn-gray"><img src="/images/google-icon.svg" alt="">Sign upp with google</button>
        <p>OR</p>
    </div>
    <form>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your Full Name">

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">

        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm your password">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">I accept <a href="" class="terms-link">Terms and Conditions</a></label>
        </div>
    </form>

    <div class="btn-box">
        <button type="submit" class="btn btn-blue">Create Account</button>
    </div>

    <div class="reg-footer">
        <p>I already hade an Account? <a href="" class="terms-link">Login</a></p>

    </div>

</div>