<div class="form-container">
    <div class="form-head">
        <h1>Login</h1>
        <button class="btn btn-gray"><img src="/images/google-icon.svg" alt="">Login with google</button>
        <p>OR</p>
    </div>
    <form>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email address">

        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter your password">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me <a href="" class="terms-link">Forgot Password?</a></label>

        </div>
    </form>

    <div class="btn-box">
        <button type="submit" class="btn btn-blue">Create Account</button>
    </div>

    <div class="reg-footer">
        <p>Don't have an Account? <a class="terms-link" asp-action="Register" asp-controller="Auth">Sign Up</a></p>

    </div>

</div>