@model MemberLoginForm

<form asp-controller="Auth" asp-action="Login" method="post" novalidate enctype="multipart/form-data" class="form-container">

        <div class="form-head">
            <h1>@ViewData["Title"]</h1>
            <button class="btn btn-gray"><img src="/images/google-icon.svg" alt="">Login with google</button>
            <p>OR</p>
        </div>



        

       <div class="form-group">        
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control">        
       </div>

       <div class="form-group">        
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control">        
       </div>

        @if (!string.IsNullOrEmpty(ViewBag?.ErrorMessage))
        {
            <div class="alert-notification error">
                @ViewBag?.ErrorMessage
            </div>
        }

       <div class="form-group">        
            <button type="submit" class="btn btn-submit">Log In</button>        
       </div>

        

                     

           

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Remember Me <a href="" class="terms-link">Forgot Password?</a></label>

        </div>


    <div class="reg-footer">
        <p>Don't have an Account? <a class="terms-link" asp-action="Register" asp-controller="Auth">Sign Up</a></p>

    </div>
    
</form>

